<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Visualizza pasto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="none" class="meal-details">

    <ion-item>
      <ion-label>
        <strong>DATA:</strong>
        <div class="value">{{ dataPasto }}</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>TIPO:</strong>
        <div class="value">{{ tipoPasto | titlecase }}</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>PRODOTTI:</strong>
      </ion-label>
    </ion-item>
    <ion-list class="products-list">
      <ion-item *ngFor="let prod of prodotti" button detail="true" (click)="goToProduct(prod)">
        <ion-label>
          <h3>{{ prod.nome }}</h3>
          <p>{{ prod.marca }} • {{ prod.quantita }}</p>
          <div class="nutrienti-prodotto" *ngIf="prod.nutrienti">
            <span *ngFor="let n of prod.nutrienti">
              <span class="nutriente-prodotto">{{ n.nome }}: {{ n.valore }} {{ n.unita || '' }}</span>
            </span>
          </div>
        </ion-label>
        <ion-button 
          class="elimina-btn" 
          fill="outline" 
          (click)="removeProduct(prod); $event.stopPropagation()">
          Rimuovi
        </ion-button>
        <ion-note slot="end">
          {{ prod.note || '' }}
        </ion-note>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label>
        <strong>Resoconto Pasto (tutti i nutrienti):</strong>
      </ion-label>
    </ion-item>
    <div class="nutrient-list">
      <div class="nutrient" *ngFor="let nutriente of nutrientiDinamici">
        <span class="label">{{ nutriente.nome }}:</span>
        <span class="value">{{ nutriente.valore }} {{ nutriente.unita || '' }}</span>
        <!-- Progress bar for macronutrients -->
        <ion-progress-bar *ngIf="nutriente.nome === 'Energia' || nutriente.nome === 'Carboidrati' || nutriente.nome === 'Proteine' || nutriente.nome === 'Grassi'"
          [value]="nutriente.valore / getProgressBarMax(nutriente.nome)" color="primary"></ion-progress-bar>
      </div>
    </div>
  </ion-list>
</ion-content>