<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="getBackRoute()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Dispensa
    </ion-title>
    <ion-buttons slot="end">
      <ion-button       >
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="add-meal-content">
  
  <!-- Loading state -->
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner ></ion-spinner>
    <p>Caricamento...</p>
  </div>

  <!-- Main content -->
  <div *ngIf="!isLoading" class="meal-container">



    <ion-card class="rec-products-card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="home-outline"></ion-icon>
          La mia dispensa
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list class="recent-products-list">
          <ion-item 
            *ngFor="let product of recentProducts" 
            button 
            detail="true"
            (click)="goToProduct()">

    
            <ion-label>
              <h3>{{ product.name }}</h3>
              <p>{{ product.brand }} • {{ product.quantity }}</p>
            </ion-label>

            <ion-button class= "elimina-btn" fill="outline">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
    
            <ion-note slot="end">Mangiato il:
              {{ product.lastUsed | date:'dd/MM' }}
            </ion-note>
    
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
