<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="getBackRoute()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Dispensa
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="add-meal-content">
  
  <!-- Loading state -->
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner ></ion-spinner>
    <p>Caricamento...</p>
  </div>

  <!-- Main content -->
  <div *ngIf="!isLoading" class="meal-container">



    <ion-card class="rec-products-card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="home-outline"></ion-icon>
          La mia dispensa
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list class="recent-products-list">
          <ion-item 
            *ngFor="let item of pantryItems" 
            button 
            detail="true">
            <ion-label (click)="selectProduct(item)">
              <h3>{{ item.product_name || item.name }}</h3>
              <p>{{ item.brand }} • {{ item.quantity }} {{ item.unit }}</p>
              <ng-container *ngIf="item.expiry_date">
                <ion-note color="danger">Scade il: {{ item.expiry_date | date:'dd/MM/yyyy' }}</ion-note>
              </ng-container>
            </ion-label>
            <ion-button class="elimina-btn" fill="outline" (click)="removePantryItem(item)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            <ion-note slot="end">
              Aggiunto il: {{ item.created_at | date:'dd/MM/yyyy' }}
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>