<ion-header class="desktop-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
      </ion-buttons>
  
      <div class="header-content">
        <h1>
          <ion-icon name="cart-outline"></ion-icon>
          I miei Valori
        </h1>
        <p>Gestisci e tieni traccia delle tue attività e del tuo storico</p>
      </div>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content [fullscreen]="true">

  </ion-content>
  