<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>I miei valori</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="3">
        <ion-list inset>
          <ion-item button>Peso</ion-item>
          <ion-item button>Calorie</ion-item>
          <ion-item button>Proteine</ion-item>
          <ion-item button>Carboidrati</ion-item>
          <ion-item button>Grassi</ion-item>
          <ion-item button>Acqua</ion-item>
        </ion-list>
      </ion-col>

      <ion-col size="12" sizeMd="9" class="segment-custom">
        <ion-segment mode="md" [(ngModel)]="selectedRange">
          <ion-segment-button value="settimanale">Settimanale</ion-segment-button>
          <ion-segment-button value="mensile">Mensile</ion-segment-button>
          <ion-segment-button value="3mesi">3 Mesi</ion-segment-button>
        </ion-segment>

        <div class="action-buttons">
          <ion-button fill="outline" size="small" (click)="openDateModal()">
           <!--<ion-icon slot="start" name="calendar-outline"></ion-icon>--> 
            {{ formatDate(selectedDate) }}
          </ion-button>
          <ion-button fill="outline" size="small">
            <ion-icon slot="icon-only" name="grid-outline"></ion-icon>
          </ion-button>
        </div>

        <div class="chart-wrapper">
          <canvas #lineCanvas></canvas>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Modal con calendario -->
  <ion-modal #dateModal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Seleziona data</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeDateModal(false)">Chiudi</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-datetime
          presentation="date"
          [(ngModel)]="selectedDate">
        </ion-datetime>

        <ion-button expand="block" (click)="closeDateModal(true)">
          Conferma
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
